* {
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  padding: 0;
  overflow-x: hidden; 
  background-color: aliceblue;
}
.navbar {
  /* background-color: rgb(135, 143, 52); */
  background-color: #BDB76B;
  padding: 20px;
  margin: -12px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.navbar .nav-link {
  color: #ffffff;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-bar .nav-link:hover {
  text-decoration: underline;
}

/* Adding Interactivity */ 
label, textarea { 
  margin-bottom: 10px; 
  display: block; 
}

label .updateForm {
  margin-left: 7px;
}