* {
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  padding: 0;
  overflow-x: hidden; 
  background-color: aliceblue;   
}
.navbar {
  /* background-color: rgb(135, 143, 52); */
  background-color: #BDB76B;
  padding: 14px 20px;
  margin: -12px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.navbar .nav-link {
  color: #ffffff;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar .nav-link:hover {
  text-decoration: underline;
}
.active {
  background-color: #BC8F8F;   
  padding: 4px 10px;     
  border-radius: 7px;
}

/* Adding Interactivity */ 
label, textarea { 
  margin-bottom: 10px; 
  display: block; 
}

label .updateForm {
  margin-left: 7px;
}

/* Passing event handlers as props */
.btn-toolbar {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: cadetblue;
  padding: 20px;
  width: 450px;
  border-radius: 7px;
}
.play-btn  {
  margin-right: 20px;
} 